@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
}

header,
body,
section {
    overflow-x: hidden;
    background-color: transparent;
}

:root {
    --Poiret-font: "Poiret One", cursive;
    --light-black: #2e2c2caf;
    --light-gray: rgba(255, 255, 255, 0.877);
    --azur: linear-gradient(to right, #44d3c9, #3d70cf, #3636b9);
    --forecastgradient: linear-gradient(45deg, #6096fd, #aab6fb, #fb7bbe, #faa7bb);
}

html {
    background: url("../images/japan-2014618.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.jumbotron {
    background: black;
    opacity: 0.6;
}

.search-title,
.section-title,
.page-title {
    font-family: var(--Poiret-font);
    color: whitesmoke;
    font-weight: 500;
}

.search {
    background: transparent;
    background-color: var(--light-black);
    height: 55vw;
    padding: 20px;
}

.search .btn {
    background: var(--light-gray);
    outline: none;
}

.search .btn:hover {
    background: #61d33e;
}


.weather {
    background: var(--azur);
    opacity: 0.8;
    padding: 20px;
}

.carousel-item {
    height: 300px;
}

.forecast {
    background: var(--forecastgradient);
    padding: 20px;
    opacity: 0.8;
}



