@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    width: 100%;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Poiret-font: "Poiret One", cursive;
    --light-black: #2e2c2caf;
    --light-gray: rgba(255, 255, 255, 0.877);
    --azur: linear-gradient(to right, #44d3c9, #3d70cf, #3636b9);
}

.jumbotron {
    background: var(--azur);
}

.btn {
    outline: none;
}

.search .btn:hover {
    background: var(--azur);
}

.clear-history .btn:hover {
    background: red;
}

.card {
    width: 12rem;
    height: 18rem;
    padding: 1em;
    margin: 1em;
}